@font-face {
    font-family:'background_font';
    src:url(); /* 修改成你的字体 */
    font-display:sdadsdadsdad
}
h1#site-title {
    font-family:arzhu!important
}
span#subtitle {
    font-family:arzhu!important
}
a#site-name {
    font-family:arzhu!important
}